# mac os x
.DS_Store

# ide
.idea/

# cache
.cache

# logs
logs
logs/

# ---------------------------------
# FirecREST Web UI ignore patterns
# ---------------------------------

# build
build
build/
public/build
public/build/
sessions/

# env
.env
.env*

# frontend
node_modules
node_modules*


# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
