# App

APP_VERSION='local'

# Environment

ENVIRONMENT='development'

# Service

SERVICE_NAME='firecrest-web-ui'

# Company

COMPANY_NAME='MyCompany'
APP_NAME='MyPlatform'
LOGO_PATH='logo.svg'

# Logging

LOGGING_LEVEL='debug'

# Session

SESSION_SECRET='s3cr3t'
SESSION_FILE_SECRET='s3cr3tfile'
SESSION_FILE_DIR_PATH='./sessions'

# Redis

REDIS_ACTIVE=false

# Sentry

SENTRY_ACTIVE=false

# Keycloak

KEYCLOAK_DOMAIN='localhost:8080/auth'
KEYCLOAK_REALM='kcrealm'
KEYCLOAK_CLIENT_ID='firecrest-web-ui'
KEYCLOAK_CLIENT_SECRET='<client-secret>'
KEYCLOAK_CALLBACK_URL='http://localhost:3000/auth/callback'
KEYCLOAK_LOGOUT_REDIRECT_URL='http://localhost:3000/'
KEYCLOAK_USE_SSL=false

# FirecREST (f7t)

FIRECREST_API_BASE_URL='http://localhost:8000'

# UI

UI_HOSTNAME='localhost:3000'

# URLs
SUPPORT_URL='<support-url>'
DOC_URL='<doc-url>'
REPO_URL='<repo-url>'